In [4]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn import tree,svm,metrics
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import cross_val_score
from mlxtend.evaluate import lift_score

#df is a Pandas Data Frame.
df = pd.read_csv("/media/siddharth/New Volume/Github/SF ML/1/bank-additional/bank-additional-full.csv",sep=";")
#Tuple representation of the dimensions of df.
df.shape
#Gives the name of the columns alone
df.columns
#Getting a feel for the data.
df.describe(include="all")
#Mentions the x-axis and y-axis information.
df.axes
#Returns the datatype of each atribute column.
df.dtypes
#Returns the numpy representation of the NDFrame.
df.values

array([[56, 'housemaid', 'married', ..., 4.857, 5191.0, 'no'],
       [57, 'services', 'married', ..., 4.857, 5191.0, 'no'],
       [37, 'services', 'married', ..., 4.857, 5191.0, 'no'],
       ...,
       [56, 'retired', 'married', ..., 1.028, 4963.6, 'no'],
       [44, 'technician', 'married', ..., 1.028, 4963.6, 'yes'],
       [74, 'retired', 'married', ..., 1.028, 4963.6, 'no']], dtype=object)

In [5]:
        
#PERFORMING FEATURE SELECTION.
from sklearn.model_selection import cross_val_score
from mlxtend.evaluate import lift_score

#Selecting only those attributes which are in the final list of selected attributes.
vector = ["housing","month","duration","campaign","emp.var.rate","cons.price.idx","cons.conf.idx","euribor3m"]
dfcopy2 = df[vector]

#Performing one-hot encoding on the categorical attributes.
encoder1 = pd.get_dummies(dfcopy2['housing'])
del encoder1['unknown']
encoder1.columns = ['housing_no','housing_yes']

encoder2 = pd.get_dummies(dfcopy2['month'])

del dfcopy2['housing']
del dfcopy2['month']

In [6]:

#Concatenating all the data frames.
dfcopy2 = pd.concat([dfcopy2,encoder1],axis=1,join='inner')
dfcopy2 = pd.concat([dfcopy2,encoder2],axis=1,join='inner')

df.replace(('yes','no'),(1,0),inplace=True)

#Splitting the target column into a vector.
Y = df['y']
del df['y']

Ycopy=[]
for i in range(0,len(Y)):
    if(Y[i]==1):
        Ycopy.append(1)
    else:
        Ycopy.append(0)

In [50]:
scaler = preprocessing.StandardScaler().fit(dfcopy2[["duration","campaign","emp.var.rate","cons.price.idx","cons.conf.idx","euribor3m"]])
dfcopy3 = scaler.transform(dfcopy2[["duration","campaign","emp.var.rate","cons.price.idx","cons.conf.idx","euribor3m"]])
dfcopy3 = pd.DataFrame(dfcopy3)
dfcopy3 = pd.concat([dfcopy3,dfcopy2],axis=1)


del dfcopy3["duration"]
del dfcopy3["campaign"]
del dfcopy3["emp.var.rate"]
del dfcopy3["cons.price.idx"]
del dfcopy3["cons.conf.idx"]
del dfcopy3["euribor3m"]

In [64]:

#Randomly splits the dataset into train and test sets.
X_train,X_test,y_train,y_test = train_test_split(dfcopy3.values,Y.values,test_size=0.33)

In [44]:
dfcopy2.columns

Index([u'duration', u'campaign', u'emp.var.rate', u'cons.price.idx',
       u'cons.conf.idx', u'euribor3m', u'housing_no', u'housing_yes', u'apr',
       u'aug', u'dec', u'jul', u'jun', u'mar', u'may', u'nov', u'oct', u'sep'],
      dtype='object')

In [53]:
dfcopy3.shape

(41188, 18)

In [51]:
dfcopy3.columns

Index([             0,              1,              2,              3,
                    4,              5,  u'housing_no', u'housing_yes',
               u'apr',         u'aug',         u'dec',         u'jul',
               u'jun',         u'mar',         u'may',         u'nov',
               u'oct',         u'sep'],
      dtype='object')

In [68]:
dfcopy3.head(4)

,0,1,2,3,4,5,housing_no,housing_yes,apr,aug,dec,jul,jun,mar,may,nov,oct,sep
0,0.010471,-0.565922,0.648092,0.722722,0.886447,0.71246,1,0,0,0,0,0,0,0,1,0,0,0
1,-0.421501,-0.565922,0.648092,0.722722,0.886447,0.71246,1,0,0,0,0,0,0,0,1,0,0,0
2,-0.124520,-0.565922,0.648092,0.722722,0.886447,0.71246,0,1,0,0,0,0,0,0,1,0,0,0
3,-0.413787,-0.565922,0.648092,0.722722,0.886447,0.71246,1,0,0,0,0,0,0,0,1,0,0,0

In [67]:
X_train[:5]

array([[ 0.06061102, -0.56592197, -0.11578127, -0.649003  , -0.32354233,
         0.30656199,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [-0.20165765, -0.56592197, -1.13427931,  1.10452515,  0.04377573,
        -1.573022  ,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ],
       [-0.38293159, -0.56592197, -0.75234254,  2.05816805, -2.22495344,
        -1.48250216,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  0.        ],
       [-0.54877796, -0.56592197,  0.83906065,  0.59142381, -0.47479094,
         0.77299863,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  1.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ],
       [ 1.27938899,  0.87813182, -1.19793544, -1.17938048, -1.23103399,
        -1.35796531,  0.        ,  1.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ,  0.        ,  0.        ]])

In [65]:
X_train.shape

(27595, 18)

In [66]:
type(X_train)

numpy.ndarray

In [70]:

#LogisticRegression
logreg = linear_model.LogisticRegression()
logreg.fit(X_train,y_train)
logreg.score(X_test,y_test)

0.90362686676966086

In [71]:

#LogisticRegression
logreg = linear_model.LogisticRegression(penalty="l1")
logreg.fit(X_train,y_train)
logreg.score(X_test,y_test)

0.90318546310601044

In [74]:

#LogisticRegression
logreg = linear_model.LogisticRegression(dual=False)
logreg.fit(X_train,y_train)
logreg.score(X_test,y_test)

0.90362686676966086

In [79]:

#LogisticRegression
c = 1.0
max_score= 0.0
max_c = 0.0
score = 0.0
while c<= 10:
    logreg = linear_model.LogisticRegression(C=c)
    logreg.fit(X_train,y_train)
    score = logreg.score(X_test,y_test)
    print "c = ",c," ; ","Score : ",score
    if (score > max_score):
        max_score = score
        max_c = c
    c += 0.5    
print "Max. C = ",max_c,"Max. Score : ",max_score

c =  1.0  ;  Score :  0.90362686677
c =  1.5  ;  Score :  0.903259030383
c =  2.0  ;  Score :  0.903332597661
c =  2.5  ;  Score :  0.903259030383
c =  3.0  ;  Score :  0.903259030383
c =  3.5  ;  Score :  0.903185463106
c =  4.0  ;  Score :  0.903111895829
c =  4.5  ;  Score :  0.903111895829
c =  5.0  ;  Score :  0.903038328551
c =  5.5  ;  Score :  0.903038328551
c =  6.0  ;  Score :  0.903038328551
c =  6.5  ;  Score :  0.902964761274
c =  7.0  ;  Score :  0.902964761274
c =  7.5  ;  Score :  0.902964761274
c =  8.0  ;  Score :  0.902964761274
c =  8.5  ;  Score :  0.902964761274
c =  9.0  ;  Score :  0.902964761274
c =  9.5  ;  Score :  0.902964761274
c =  10.0  ;  Score :  0.902964761274
Max. C =  1.0 Max. Score :  0.90362686677

In [82]:

#LogisticRegression
#fit_intercept : whether any constant needs to be added to the decision function ?
logreg = linear_model.LogisticRegression(fit_intercept=False)
logreg.fit(X_train,y_train)
logreg.score(X_test,y_test)

0.90399470315603625

In [84]:

#LogisticRegression
#fit_intercept : whether any constant needs to be added to the decision function ?
logreg = linear_model.LogisticRegression(fit_intercept=False,max_iter=500)
logreg.fit(X_train,y_train)
logreg.score(X_test,y_test)

0.90399470315603625

In [86]:

#LogisticRegression
#fit_intercept : whether any constant needs to be added to the decision function ?
logreg = linear_model.LogisticRegression(fit_intercept=False,max_iter=500,random_state=10)
logreg.fit(X_train,y_train)
logreg.score(X_test,y_test)

0.90399470315603625

In [88]:
#F1 Scores.
from sklearn.metrics import f1_score

y_pred = logreg.predict(X_test)
f1_score(y_test,y_pred)

0.47611401043757523

In [89]:
#ROC Estimates for Decision Tree Classifier.
(np.mean(cross_val_score(linear_model.LogisticRegression(),X_train,y_train,scoring='roc_auc',cv=5)))

0.93230375352400296